@font-face {
  font-family: "iconfont"; /* Project id 4891509 */
  src: url('iconfont.woff2?t=1789989573713') format('woff2'),
       url('iconfont.woff?t=1789989573713') format('woff'),
       url('iconfont.ttf?t=1789989573713') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\eb27";
}

.icon-youxuliebiao3:before {
  content: "\e7b9";
}

.icon-wenziyanse3:before {
  content: "\e797";
}

.icon-wenzibeijing5:before {
  content: "\e662";
}

.icon-wenzibeijing3:before {
  content: "\e660";
}

.icon-liebiao:before {
  content: "\e603";
}

.icon-liebiao1:before {
  content: "\e62d";
}

.icon-xiahuaxian:before {
  content: "\e6d3";
}

.icon-xiahuaxian1:before {
  content: "\e613";
}

.icon-qingxie:before {
  content: "\e628";
}

.icon-bold:before {
  content: "\ef41";
}

.icon-list:before {
  content: "\e66d";
}

.icon-shanchuxian:before {
  content: "\e60e";
}

.icon-wenzibeijing:before {
  content: "\e61f";
}

.icon-strikethrough:before {
  content: "\e614";
}

.icon-xiahuaxian3:before {
  content: "\e65c";
}

.icon-fanhui:before {
  content: "\e672";
}

.icon-fanhui1:before {
  content: "\e626";
}

.icon-back1:before {
  content: "\e627";
}

.icon-fanhui2:before {
  content: "\e602";
}

.icon-fanhui3:before {
  content: "\e618";
}

.icon-Gc_37_public-RollbackOutlined:before {
  content: "\e61e";
}

.icon-fenxiang:before {
  content: "\e601";
}

.icon-back:before {
  content: "\e617";
}

.icon-dots:before {
  content: "\e607";
}

.icon-dots-:before {
  content: "\e882";
}

.icon-setting:before {
  content: "\e63f";
}

.icon-jia1:before {
  content: "\e65a";
}

.icon-setting1:before {
  content: "\e8d8";
}

.icon-setting2:before {
  content: "\e87e";
}

.icon-quanping5-xianxing:before {
  content: "\e6e9";
}

.icon-jia2:before {
  content: "\e6e5";
}

.icon-jichu_quanping:before {
  content: "\e657";
}

.icon-setting3:before {
  content: "\e966";
}

.icon-a-quanpingmu1:before {
  content: "\e675";
}

.icon-jian1:before {
  content: "\e643";
}

.icon-pingmuquanping:before {
  content: "\e781";
}

.icon-jian2:before {
  content: "\e711";
}

.icon-quanping2:before {
  content: "\e680";
}

.icon-quanping3:before {
  content: "\e604";
}

.icon-jianqu:before {
  content: "\e605";
}

.icon-close2:before {
  content: "\e671";
}

.icon-close3:before {
  content: "\e62b";
}

.icon-close4:before {
  content: "\e609";
}

.icon-quanping:before {
  content: "\e670";
}

.icon-quanping1:before {
  content: "\e612";
}

.icon-jian:before {
  content: "\e621";
}

.icon-search:before {
  content: "\e600";
}

.icon-add:before {
  content: "\e61d";
}

.icon-pin-fill:before {
  content: "\e87a";
}

.icon-icon_commone_seting:before {
  content: "\e611";
}

.icon-seting:before {
  content: "\e676";
}

.icon-close1:before {
  content: "\e60c";
}

.icon-close:before {
  content: "\e646";
}

.icon-pin:before {
  content: "\e6f2";
}

